@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Welcome to the library</h1>
</div>

<div id="buttons">
    <a href="/User">
        <div class="button1"><label>Users</label></div>
    </a>
    <a href="/Book">
        <div class="button2"><label>Books</label></div>
    </a>
    <div style="clear:both;"></div>
    <a href="/Borrow">
        <div class="button3"><label>Borrows</label></div>
    </a>
    <a href="/Reports">
        <div class="button4"><label>Reports</label></div>
    </a>
    <div style="clear:both;"></div>
</div>

