@page
@model Library.Pages.Borrow.IndexModel
@Html.AntiForgeryToken()

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.default-main.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css" />


<script src="https://kendo.cdn.telerik.com/2022.1.301/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"></script>


<div class="container row p-0 m-0">

    <div class="col-10">
        <h1 class="text-info">Borrow list</h1>
    </div>

    <div class="col-2">
        <button class='btn btn-info' style="width:150px" onclick='addBorrow()'>Add borrow</button>
    </div>

    <div class="col-6">
        <h3 class="text-secondary">Borrowed books</h3>
    </div>

    <div class="col-6">
        <h3 class="text-secondary">Users with book</h3>
    </div>

    <div class="col-6">
        <div id="gridBooks"></div>
    </div>
    <div class="col-6">
        <div id="gridUsers"></div>
    </div>

    <div id="dialogAdd"></div>
</div>

<script src="~/js/Borrow.js"></script>
